body {
	/*background-image: url("background.svg");*/
	/*background-size: cover; */
	background-color: lightgrey;
	margin: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
}


p {
	
	float: right;
	height: 100%;
	width: 50%;
	font-size: 150%;
	padding-top: 100px;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-right: 10px;
	margin-left: 10px;
	line-height: 1.5em;
}

blockquote {
	font-style: italic;
	font-weight: bold;
	font-size: 300%;
	margin: 10px;
	
}

figure {
	align-content: right;
}

img #georgia {
	float: left;
	max-height: 50%;
	max-width: 50%;
	margin: 0;
	clear: right;
}

img #printingPress {
	float: right;
}

footer {
	height: 40px;
	background-color: darkgrey;
	color: whitesmoke;
	text-align: center;
	padding: 5px;
	margin: 10px;
}
